.footer-style {
    background-color: #282828;
    color: aliceblue;
}
.main-color {
    color: #e49881;
    font-family: sans-serif;
}

.footer {
    color: #e49881;
    font-family: sans-serif;
    font-weight: bold;
}

.footer-white {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.footer-white-thin {
    color: white;
    font-family: sans-serif;
}

.image {
    width: 62px;
    height: 62px;
    object-position: 50% 50%;
}
