.account-main-style {
    background-color: #282828;
    color: white;
}
.main-color {
    color: #e49881;
    font-family: sans-serif;
}

.black {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

.black-s {
    color: rgb(95, 95, 95);
    font-family: sans-serif;
}

.account {
    color: #e49881;
    font-family: sans-serif;
    font-weight: bold;
}

.account-white {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.accoun-white-thin {
    color: white;
    font-family: sans-serif;
}

.acoount-gray-thin {
    color: rgb(63, 63, 63);
    font-family: sans-serif;
}

.acoount-gray-thin2 {
    color: #e49881;
    font-family: sans-serif;
}

.img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.account-style {
    background-color: white;
    color: black;
}

.account-style2 {
    background-color: white;
    color: black;
}
