@import '../../settings/variables.scss';

.nav {
    background-color: $default-dark;
    font-family: $marker;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;

    .acc_bar {
        margin-left: 16px;
        flex-flow: nowrap;
    }
}

.nav_wrapper {
    justify-content: space-between;
    padding: 2px 2rem !important;
}

.toggleButton {
    margin-left: auto;
}

.orangeText {
    color: $soft-orange;
}

.list {
    display: flex;
    min-width: 448px;
    max-width: calc(100% - 800px);
    justify-content: space-between;
}
