// !!! - COLORS - !!! \\
//? Blackísh
$black: #000000;
$default-dark: #282828;

//? Orange-Red
$soft-orange: #e49880;
$soft-red: #ff5059;
$hard-orange: #d6471c;
$vivid-pink: #be3145;

//? Green'ish
$soft-green: #66bdb3;

//? White'ish
$light-grey: #fafafa;
$dimmed-grey: #d9d9d9;

// !!! - FONTS - !!! \\

//? on rare occasions as it is unusual
$casual: 'Titillium Web', sans-serif;
$unusual: 'Liu Jian Mao Cao', cursive;
$marker: 'Permanent Marker', cursive;
